body {
    background-color:grey;
}

caption {
    font-size: .65em;
    margin-left: 16px;
    margin-bottom: 16px;
}

caption::before {
    content: 'Image Credit: ';
}

.text p {
    width:50%;
    height:25%;
}

img {
    width:30%;
    height:50%;
}
a{
    font-size:50px;
    color:#;
    color:#f10;
}
